@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hospital Admin</h1>
    <p>Use the table below to view, add, update or delete hospitals</p>
    <partial name="~/Views/Shared/_HospitalTable.cshtml" />
</div>
